* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

#increment {
  background-color: green;
  color: white;
}

#decrement {
  background-color: red;
  color: white;
}

#score {
  font-size: 5em;
  font-weight: 600;
}
